.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.text_link {
  color:#0000FF;
}
.shape {
}
.image {
  color:#000000;
}
._文本段落 {
  text-align:left;
}
.iconfont {
  font-family:'iconfont Regular', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._图像 {
}
.paragraph1 {
  text-align:left;
}
.line {
}
.text_area {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.snapshot {
}
.text_field {
  color:#000000;
  text-align:left;
}
.table_cell {
  text-align:left;
}
.horizontal_line {
}
.vertical_line {
}
.menu_item {
}
.button {
}
.connector {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#3F9BEE;
  text-align:center;
  line-height:normal;
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.checkbox {
  text-align:left;
}
.table {
}
.image1 {
}
.table_cell1 {
}
._图像1 {
  color:#000000;
}
.box_2 {
  font-size:24px;
}
.box_4 {
  color:#FFFFFF;
}
.ellipse {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.radio_button1 {
  text-align:left;
}
.box_11 {
}
.droplist {
  color:#000000;
  text-align:left;
}
.arrow {
}
.radio_button2 {
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.default_button {
}
.image2 {
}
._形状 {
}
.paragraph2 {
  text-align:left;
}
._表格单元 {
  text-align:left;
}
.shape1 {
}
.placeholder {
}
.heading_11 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.icon {
}
._图片 {
}
.image3 {
  color:#000000;
}
._形状1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._图像2 {
  color:#000000;
}
._文本 {
  text-align:left;
}
._文本框_单行_ {
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
._复选框 {
  text-align:left;
}
._横线 {
}
.connector1 {
}
._图片1 {
  color:#000000;
}
.box_21 {
}
.button1 {
}
._图片2 {
}
.box_3 {
}
._图片3 {
  color:#000000;
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
.line1 {
}
.shape2 {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.image4 {
  color:#000000;
}
._34号字_单行列表内，左方主标题文字字） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.box_12 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.text_field2 {
  color:#000000;
  text-align:left;
}
.line2 {
}
.table_cell2 {
}
.line3 {
}
._下拉列表框1 {
  color:#000000;
  text-align:left;
}
.table_cell3 {
}
.label2 {
  font-size:14px;
  text-align:left;
}
.image5 {
}
._图片4 {
}
.box_22 {
}
._图像3 {
}
.text_field3 {
  color:#000000;
  text-align:left;
}
._分割线 {
}
.label3 {
  font-size:14px;
  text-align:left;
}
.box_23 {
}
.box_13 {
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.html_button {
  text-align:center;
}
